@model ApplicationCore.Entities.ApplicationUsers.Teacher

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h2>
            Details van @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </div>
                    <div class="col-md-8">
                        <input asp-for="FirstName" class="form-control" disabled />

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.LastName)
                    </div>
                    <div class="col-md-8">
                        <input asp-for="LastName" class="form-control" disabled />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-md-8">
                        <input asp-for="PhoneNumber" class="form-control" disabled />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.EmployeeNumber)
                    </div>
                    <div class="col-md-8">
                        <input asp-for="EmployeeNumber" class="form-control" disabled />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => model.BigNumber)
                    </div>
                    <div class="col-md-8">
                        <input asp-for="BigNumber" class="form-control" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Beschikbaarheid</h4>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-2">
                        <h5>Maandag</h5>
                    </div>
                    <div class="col-md-5">
                        Van @Html.DisplayFor(model => model.Availability.MondayStart)
                    </div>
                    <div class="col-md-5">
                        Tot @Html.DisplayFor(model => model.Availability.MondayEnd)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <h5>Dinsdag</h5>
                    </div>
                    <div class="col-md-5">
                        Van @Html.DisplayFor(model => model.Availability.TuesdayStart)
                    </div>
                    <div class="col-md-5">
                        Tot @Html.DisplayFor(model => model.Availability.TuesdayEnd)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <h5>Woensdag</h5>
                    </div>
                    <div class="col-md-5">
                        Van @Html.DisplayFor(model => model.Availability.WednesdayStart)
                    </div>
                    <div class="col-md-5">
                        Tot @Html.DisplayFor(model => model.Availability.WednesdayEnd)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <h5>Donderdag</h5>
                    </div>
                    <div class="col-md-5">
                        Van @Html.DisplayFor(model => model.Availability.ThursdayStart)
                    </div>
                    <div class="col-md-5">
                        Tot @Html.DisplayFor(model => model.Availability.ThursdayEnd)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <h5>Vrijdag</h5>
                    </div>
                    <div class="col-md-5">
                        Van @Html.DisplayFor(model => model.Availability.FridayStart)
                    </div>
                    <div class="col-md-5">
                        Tot @Html.DisplayFor(model => model.Availability.FridayEnd)
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Availabilities" asp-action="Edit" asp-route-id="@Model.AvailabilityId">Bijwerken</a>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" type="button">Edit</a>
            <a asp-action="Index" class="btn btn-success" type="button">Back To List</a>
        </div>
    </div>
</div>

