@model FysioApp.Models.ViewModels.PatientFileViewModels.DetailsPatientFileViewModel
@using System.Security.Claims;
@using ApplicationCore.Utility

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h2>Patientdossier</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="height:100%;">
                    <div class="card-header">
                        <h5 class="card-title">Persoonlijke gegevens</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            @if (Model.PatientFile.Patient.Picture != null)
                            {
                                var base64 = Convert.ToBase64String(Model.PatientFile.Patient.Picture);
                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                <img src="@imgsrc" class="rounded-circle" style="height:200px; box-shadow: 0 5px 15px 0 rgba(0,0,0,5)" />
                            }
                            @if (Model.PatientFile.Patient.Picture == null)
                            {
                                @if (Model.PatientFile.Patient.Gender == "0")
                                {
                                    <img src="~/images/male.jpg" class="rounded-circle" style="height: 200px; box-shadow: 0 5px 15px 0 rgba(0,0,0,5);" />
                                }
                                @if (Model.PatientFile.Patient.Gender == "1")
                                {
                                    <img src="~/images/female.jpg" class="rounded-circle" style="height: 200px; box-shadow: 0 5px 15px 0 rgba(0,0,0,5);" />
                                }
                            }
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Patient</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.PatientFile.Patient.FirstName @Model.PatientFile.Patient.LastName" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Leeftijd (jaren)</label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="PatientFile.age" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Geslacht</label>
                            </div>
                            <div class="col-md-8">
                                @if (Model.PatientFile.Patient.Gender == "0")
                                {
                                    <input value="Man" class="form-control" disabled />
                                }
                                @if (Model.PatientFile.Patient.Gender == "1")
                                {
                                    <input value="Vrouw" class="form-control" disabled />
                                }
                                @if (Model.PatientFile.Patient.Gender == "2")
                                {
                                    <input value="X" class="form-control" disabled />
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Rol binnen Avans
                            </div>
                            <div class="col-md-8">
                                @if (Model.PatientFile.Patient.AvansRole == "0")
                                {
                                    <input value="Student" class="form-control" disabled />
                                }
                                @if (Model.PatientFile.Patient.AvansRole == "1")
                                {
                                    <input value="Docent" class="form-control" disabled />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row card" style="width:100%;">
                    <div class="card-header">
                        <h5 class="card-title">Praktische Informatie</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Datum aanmelding</label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="PatientFile.DateOfArrival.Date" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Hoofdbehandelaar</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.PatientFile.HeadPractitioner.FirstName @Model.PatientFile.HeadPractitioner.LastName" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Uitgevoerd door</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.PatientFile.IntakeDoneBy.FirstName @Model.PatientFile.IntakeDoneBy.LastName" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Onder toezicht van</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.PatientFile.IntakeSupervisedBy.FirstName @Model.PatientFile.IntakeSupervisedBy.LastName" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Voorlopige Ontslagdatum</label>
                            </div>
                            <div class="col-md-8">
                                <input value="@Model.PatientFile.DateOfDeparture.Date" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 card" style="width:100%;">
                    <div class="card-header">
                        <h5 class="card-title">Omschrijving klachten</h5>
                    </div>
                    <div class="card-body">
                        <p>@Model.PatientFile.ComplaintsDescription</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="card" style="height:100%;">
                    <div class="card-header">
                        <h5 class="card-title">Behandelplan</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <label asp-for="PatientFile.AmountOfSessionsPerWeek"></label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" asp-for="PatientFile.AmountOfSessionsPerWeek" disabled class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9">
                                <label asp-for="PatientFile.SessionDuration"></label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" asp-for="PatientFile.SessionDuration" disabled class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole(StaticDetails.StudentEndUser) || User.IsInRole(StaticDetails.TeacherEndUser))
            {
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Opmerkingen</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7 border" style="overflow-y:auto; max-height:360px;">
                                    
                                        @foreach(var comment in Model.Comments)
                                        {
                                            <div class="card mt-1">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            @comment.AuthorName
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            @comment.TimeOfPosting.ToShortDateString() @comment.TimeOfPosting.ToShortTimeString()
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p>@comment.Content</p>
                                                </div>
                                            </div>                                        
                                        }
                                    
                                </div>
                                <div class="col-md-5">
                                    <form class="card" asp-action="AddComment">
                                        <div class="card-header">
                                            <h6 class="card-title">Nieuwe Opmerking</h6>
                                        </div>
                                        <div class="card-body">
                                            
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input hidden asp-for="Comment.AuthorName" value="Unknown" />
                                            <input hidden asp-for="Comment.TimeOfPosting" type="datetime" value="@DateTime.Now " />
                                            <input hidden asp-for="Comment.PatientFileId" value="@Model.PatientFile.Id" />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea asp-for="Comment.Content" typeof="text" style="height:150px;" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <label asp-for="Comment.Visible"></label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input asp-for="Comment.Visible" type="checkbox" />
                                                </div>
                                            </div>


                                        </div>
                                        <div class="card-footer text-right">
                                            <button type="submit" class="btn btn-primary">Plaats</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if(User.IsInRole(StaticDetails.PatientEndUser))
            {
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                Opmerkingen
                            </h5>
                        </div>
                        <div class="card-body"  style="overflow-y:auto; max-height:360px;">

                            @foreach (var comment in Model.Comments)
                            {
                                if (comment.Visible == true)
                                {
                                    <div class="card mt-1">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @comment.AuthorName
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    @comment.TimeOfPosting.ToShortDateString() @comment.TimeOfPosting.ToShortTimeString()
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p>@comment.Content</p>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            @if (User.IsInRole(StaticDetails.StudentEndUser) || User.IsInRole(StaticDetails.TeacherEndUser))
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.PatientFile.Id">Bewerken</a>
                <a class="btn btn-success" asp-action="Index">Terug</a>
            }
            @if (User.IsInRole(StaticDetails.PatientEndUser))
            {
                <a class="btn btn-success" asp-action="Index" asp-controller="Home">Terug naar Home</a>
            }
        </div>
    </div>
</div>

