@model IEnumerable<ApplicationCore.Entities.ApplicationUsers.Student>

@{
    ViewData["Title"] = "Docenten";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Studenten</h2>
            </div>
            <div class="col-md-4 text-right">
                <a type="button" class="btn btn-primary" asp-action="Create">Create</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentNumber)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentNumber)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>