@model IEnumerable<FysioApp.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}
<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2>Afspraken</h2>
            </div>
            <div class="col-md-4 text-right">
                <a type="button" class="btn btn-primary" asp-action="Create">Create</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Teacher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patient)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.FirstName) @Html.DisplayFor(modelItem => item.Teacher.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
                        </td>
                        <td>
                            <partial name="_TableButtonPartialForInt" model="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



